.header {
    display: flex;
    grid-area: hd;
    background-color: #ffffff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    z-index: 100;
    border-radius: 0px 0px 20px 20px;
}
.logo {
    display: flex;
}
.logo img {
    width: 70px;
}

.links {
    display: flex;
    align-items: center;
    font-size: 24px;
}
.link {
    margin-right: 20px;
    margin-left: 10px;
    margin-top: -3px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(106, 0, 212);
}