.wrapper {
    grid-area: nv;
}
.buttons-wrapper {
    display: flex;
    flex-direction: column;
}
.button {
    display: flex;
    align-items: center;
    height: 60px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 24px;
    text-decoration: none;
    color: #000;
}
.button_active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background: linear-gradient(90deg, #8860D0, #5AB8EB);
    z-index: 100;
    color: #fff;
}
.button:hover {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    z-index: 99;
    cursor: pointer;
    color: #000;
    transition: 0.1s;
}
.button.button_active:hover {
    background: linear-gradient(90deg, #8860D0, #5AB8EB);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    z-index: 99;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
}
.button span {
    margin-left: 12px;
}


.topFriends {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.friendsTitle {
    font-size: 24px;
    margin-bottom: 30px;
}
.friendsWrapper {
    display: flex;
    justify-content: space-between;
}

