.dialog {
    display: flex;
    align-items: center;
    height: 60px;
    margin-right: -20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px 0 0 20px;
    background-color: #fff;
    font-size: 24px;
    text-decoration: none;
    color: #000;
}
.dialog_active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background: linear-gradient(90deg, #f6bf00, #ff2800);
    z-index: 100;
    color: #000;
}
.dialog:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    z-index: 99;
    cursor: pointer;
    color: #000;
    transition: 0.1s;
}
.dialog.dialog_active:hover {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    z-index: 99;
    cursor: pointer;
    color: #000;
    transition: 0.1s;
}
.dialog span {
    margin-left: 12px;
}