.message {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 8px;
    margin: 5px auto 10px 10px;
    z-index: 101;
    max-width: 50%;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.message:last-of-type {
    margin-bottom: 10px;
}
.message:first-of-type {
    margin-top: auto;
}
.message span {
    font-size: 20px;
}
.message_me {
    margin: 5px 10px 10px auto;
    background: linear-gradient(90deg, rgba(246, 191, 0, 0.5), rgba(255, 40, 0, 0.5));
}
.message_me span {
    font-size: 20px;
}